@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
	height: 100%;
	background-color: rgb(22, 22, 26);
	/* background-color: rgb(253, 247, 247); */
}

.App {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	padding-bottom: 50px;
}

/* Header */

header {
	background-color: rgb(22, 22, 26);
	color: white;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr;
}

h1 {
	font-size: 3rem;
	margin: 25px 20px;
	font-family: 'Montserrat', sans-serif;
}

nav {
	grid-row: 1 / span 2;
	grid-column: 2 / span 1;
	padding-bottom: 10px;
}

nav > ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-block-start: 3em;
	margin-block-end: 0em;
}

nav > ul > a {
	grid-row: 1;
	font-size: 100%;
	color: white;
	font-size: 1rem;
	margin: 0 40px;
	padding: 5px 0;
}

nav > ul > a:hover {
	background-color: rgb(71, 72, 75);
}


/* Home */
.main {
	margin: 1% 5%;
	display: flex;
	justify-content: center;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 3rem;
	background-color: rgb(153, 25, 51);
	border-radius: 5px;
	padding: 10px 10px;
}

.main-tag {
	position: absolute;
	z-index: 1;
	margin: 10px 20px;
	/* background-color: rgba(22, 4, 4, 0.9); */
	margin-top: 15%;
	color: white;
	padding: 20px;
}

.display {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/* grid-auto-rows: minmax(150px, auto); */
	grid-gap: 20px;
	width: 60%;
	height: 100%;
	/* height: 300px; */
	grid-auto-flow: dense;
	position: relative;
	opacity: 0.6;
	margin: 0 auto;
	/* transform: rotateZ(45deg) */
}

.display-book,
.book-cover {
	object-fit: cover;
	/* transition-timing-function: ease-in;
	transition: 1s; */
	width: 100%;
	height: 100%;
	-webkit-animation: expand 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: expand 1s; /* Firefox < 16 */
	-ms-animation: expand 1s; /* Internet Explorer */
	-o-animation: expand 1s; /* Opera < 12.1 */
	animation: expand 1s;
}

.display-book:hover {
	opacity: 1;
}

@keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@-webkit-keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

#book-4,
#book-8,
#book-12,
#book-14 {
	grid-row: span 2;
	grid-column: span 2;
}

#book-2,
#book-5,
#book-9 #book-13 {
	grid-row: span 2;
	grid-column: span 2;
}

#book-3 {
	grid-row: span 2;
	grid-column: span 2;
}

#book-7 {
	grid-row: span 3;
	grid-column: span 3;
}

button {
	color: white;
	background-color: rgb(79, 82, 182);
	border: 2px solid rgb(79, 82, 182);
	padding: 10px 20px;
	border-radius: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
}

button:hover {
	background-color: rgb(5, 6, 29);
	border: 2px solid rgb(79, 82, 182);
	color: rgb(229, 229, 236);
	cursor: pointer;
}

/* Genres List */
.featured-list {
	margin: 0;
	background-color: transparent;
	text-align: left;
	border-bottom: 2px solid crimson;
	color: white;
	border-radius: 0;
	font-size: 1.5rem;
}

.genres-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	align-items: center;
	font-size: 2rem;
	margin: 0 10%;
}

.genres-list > a {
	color: black;
}

.genre {
	/* grid-row: 1 / span 2; */
	display: grid;
	grid-template-columns: 1fr, 1fr;
	grid-template-rows: repeat(5, 1fr);
	/* background-color: rgb(151, 47, 68); */
	border-bottom: 2px solid rgb(151, 47, 68);
	color: white;
	height: 180px;
	/* padding: 10px; */
	font-size: 70%;
	/* border-radius:3px; */
	font-weight: 600;
	transition: transform 0.5s;
}

.genre:hover,
.book-container:hover {
	/* position: absolute; */
	transform: scale(1.1);
}

.featured-covers {
	object-fit: contain;
	height: 80%;
	width: 90%;
	grid-row: 1 / span 5;
	grid-column: 2 / span 1;
	display: flex;
	margin: 10px;
}

.genre-name {
	grid-row: 1 / span 2;
	margin: 20px;
	text-align: left;
	border-bottom: 2px solid rgb(79, 82, 182);
	width: max-content;
}

#feature-img {
	margin: 5px;
}

/* Best Sellers Page */

.best-sellers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 70px 50px;
	width: 80%;
	margin: 0 auto;
}

.book-container {
	height: 75%;
	width: 75%;
	margin: 2%;
	transition: transform 0.5s;
}

.book-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.book-info {
	box-shadow: 1px 2px 5px rgb(39, 38, 38);
	color: white;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	font-family: 'Montserrat', sans-serif;
	font-size: 70%;
	padding: 10px 0;
}

.title,
.author,
.description {
	margin: 2px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}

/* Book Details */
.details-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr;
	/* width: 70%; */
	line-height: 1.5;
	/* border:1px solid crimson; */
	margin: 0 auto;
}

.details {
	color: white;
	text-align: left;
	max-width: 700px;
	min-width: 300px;
	/* border: 2px solid rgb(80, 82, 133); */
	border-radius: 10px;
	padding: 10px 50px;
	margin: 5% 2%;
	background-color: rgba(49, 49, 65, 0.5);
}

.details-cover {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
}

.details-cover > .book-cover {
	object-fit: contain;
	min-width: 200px;
	max-height: 60%;
	max-width: 60%;
	margin-top: 20%;
}

#add-book {
	margin-top: 4%;
}

.about {
	border: 2px solid rgb(80, 82, 133);
	margin: 5% 20%;
	padding: 0 5% 5%;
	font-size: 1.5rem;
	border-radius: 10px;
	color: white;
	height: 300px;
}

.about > h2 {
	font-size: 2rem;
	background-color: transparent;
	color: rgb(182, 49, 75);
}

.about > p {
	font-size: 1.5rem;
}

.tbr-title {
	color: white;
	font-size: 1.5rem;
}

@media (max-width: 900px) {
	.best-sellers {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.genre {
		font-size: 60%;
	}
}

/* My Reads List */
.tbr-item {
	width: 70%;
	height: 100%;
	margin: 10px auto;
}

.my-reads-list {
	color: white;
	font-size: 1rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 4fr 1fr;
	text-align: left;
	height: 60%;
	width: 100%;
	margin: 3% 0;
	/* background-color: rgba(49, 49, 65, 0.5); */
}

#my-reads-cover {
	object-fit: contain;
	width: 70%;
	height: 70%;
	grid-row: 1 / span 2;
	grid-column: 1 / span 1;
	margin: auto auto;
}

.reads-container {
	grid-row: 1 / span 2;
	grid-column: 2 / span 1;
	margin: auto 0;
}

#edit-btn {
	background-color: transparent;
	border: 2px solid grey;
}
#edit-btn:hover {
	border: 2px solid rgb(79, 82, 182);
}

#completed {
	background-color: seagreen;
	border: 1px solid seagreen;
}

#inProgress, #delete {
	background-color: rgb(134, 49, 68);
	border: 1px solid rgb(134, 49, 68);
}



#completed,
#inProgress, #delete {
	height: max-content;
	width: max-content;
	font-size: 80%;
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	margin: 20px auto 0;
}

#delete {
	background-color: transparent;
	color: rgb(221, 57, 93);
	border: 1px solid rgb(221, 57, 93);
	grid-column: 2 / span 3;
	grid-row: 2 / span 1;
}

/* review form */

.review-form {
	background-color: rgba(49, 49, 65, 0.5);
	color: white;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 20px auto;
	border-radius: 10px;
	padding: 2%;
}

.review-form > * {
	border-radius: 5px;
	border: none;
}

#review {
	height: 200px;
	width: 500px;
}

#review-submit {
	margin: 20px;
	font-size: 1rem;
	height: 50px;
}

.review-btn {
	font-size: 70%;
	height: max-content;
	width: max-content;
	margin: 20px 10px;
}

.review-details {
	color: white;
	height: 60%;
	width: 80%;
	margin: 50px auto;
}

#review-details-cover {
	height: 30%;
	width: 30%;
}

/* Search Nav */
.search-nav {
	padding: 2%;
	background-color: rgba(32, 32, 56, 0.5);
	border-radius: 3px;
	width: 100vw;
}

.search-form > * {
	margin: 0 10px;
	border: none;
	border-radius: 5px;
	padding: 7px;
}

.search-label {
	color: white;
}

.checked {
	color: orange;
}

#submit-btn,
#add-search-item,
#view-search-btn {
	border: none;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(79, 82, 182);
	color: white;
	height: max-content;
	font-size: 70%;
	margin: 0 3px;
}
#view-search-btn,
#add-search-item:hover {
	background-color: transparent;
	border: 1px solid grey;
}
#submit-btn:hover,
#view-search-btn:hover {
	background-color: transparent;
	border: 1px solid rgb(79, 82, 182);
	color: rgb(79, 82, 182);
}

#get-book-btn {
	font-size: 90%;
	margin: 20px 0;
}

/* Search Results */

.search-result-item {
	margin: 0 auto;
}

.search-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	height: 200px;
	width: 90%;
	background-color: rgba(53, 53, 65, 0.5);
	color: white;
	margin: 20px auto;
}

#search-image {
	object-fit: contain;
	height: 190px;
	width: 90%;
	margin: auto;
}

.search-details {
	text-align: left;
}

.subject-list {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 800px) {
	.best-sellers {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.book-container {
		width: 90%;
	}

	nav {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
